p {
    font-family: Arial;
    text-align: center;
  }
  .New {
    color: lightcoral;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 4px;
  }
  .macbook {
    font-weight: bold;
    font-size: 25px;
    margin-top: 4px;
    margin-bottom: 8px;
  }
  .mac-desc {
    font-weight: bold;
    font-size: 55px;
    margin-top: 8px;
    margin-bottom: 12px;
  }
  .price {
    font-size: 15px;
    margin-top: 12px;
  }
  .buy {
    margin-left: 727px;
    background-color: rgb(36, 36, 253);
    color: white;
    border: none;
    border-radius: 200px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
  }